{%extends 'base.html' %}

{%block content%}

<div class = "container">

    {%if error%}
        <p class = "text-uppercase text-center text-muted  bg-dark p-3 my-3 ">{{error}}</p>

    {%endif%}

        <h1 class = "text-center text-uppercase py-3 my-3 text-warning">Log In</h1>
        <form method = "POST" action = "{% url 'login' %}" class = "d-flex align-items-center justify-content-center flex-column">
                {% csrf_token %}
            <input type= "text" class = "form-control w-50 my-2" placeholder = "Username" name = "username">
            <input type= "password" class = "form-control w-50 my-2" placeholder = "Password" name= "password">
            
            <input type = "submit" class = "btn btn-danger my-2" value = "Login">
        </form>
    </div>

{%endblock%}